ERP_API_KEY=your_team_api_key_here

LAKE_HOST=lake_db
LAKE_PORT=5432
LAKE_DB=lake
LAKE_USER=lake_user
LAKE_PASSWORD=lake_pass

WH_HOST=warehouse_db
WH_PORT=5432
WH_DB=warehouse
WH_USER=wh_user
WH_PASSWORD=wh_pass
