--
-- PostgreSQL database dump
--

\restrict 4efCpxN8IuWkgZW6obzCIlLztdA1CXFwngTLgqBgfzzIkS8DodfLZJQLeUEN1We

-- Dumped from database version 15.18 (Debian 15.18-1.pgdg13+1)
-- Dumped by pg_dump version 15.18 (Debian 15.18-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: raw_marts; Type: SCHEMA; Schema: -; Owner: wh_user
--

CREATE SCHEMA raw_marts;


ALTER SCHEMA raw_marts OWNER TO wh_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: dim_customer; Type: TABLE; Schema: raw_marts; Owner: wh_user
--

CREATE TABLE raw_marts.dim_customer (
    customer_sk text,
    customer_id character varying,
    customer_name character varying,
    email character varying,
    phone character varying,
    segment character varying,
    city character varying,
    state character varying,
    is_deleted boolean,
    valid_from timestamp with time zone,
    valid_to timestamp with time zone,
    is_current boolean
);


ALTER TABLE raw_marts.dim_customer OWNER TO wh_user;

--
-- Name: dim_date; Type: TABLE; Schema: raw_marts; Owner: wh_user
--

CREATE TABLE raw_marts.dim_date (
    date_sk integer,
    date timestamp without time zone,
    year integer,
    quarter integer,
    month integer,
    month_name text,
    week_of_year integer,
    day_of_month integer,
    day_of_week integer,
    day_name text,
    is_weekend boolean,
    is_public_holiday boolean,
    holiday_name text
);


ALTER TABLE raw_marts.dim_date OWNER TO wh_user;

--
-- Name: dim_employee; Type: TABLE; Schema: raw_marts; Owner: wh_user
--

CREATE TABLE raw_marts.dim_employee (
    employee_sk text,
    employee_id character varying,
    employee_name character varying,
    role character varying,
    store_id character varying,
    hire_date date
);


ALTER TABLE raw_marts.dim_employee OWNER TO wh_user;

--
-- Name: dim_payment_method; Type: TABLE; Schema: raw_marts; Owner: wh_user
--

CREATE TABLE raw_marts.dim_payment_method (
    payment_method_sk text,
    method_name character varying
);


ALTER TABLE raw_marts.dim_payment_method OWNER TO wh_user;

--
-- Name: dim_product; Type: TABLE; Schema: raw_marts; Owner: wh_user
--

CREATE TABLE raw_marts.dim_product (
    product_sk text,
    product_id character varying,
    product_name character varying,
    category character varying,
    sub_category character varying,
    brand character varying,
    supplier character varying,
    price numeric(12,2),
    cost numeric(12,2),
    is_deleted boolean,
    valid_from timestamp with time zone,
    valid_to timestamp with time zone,
    is_current boolean
);


ALTER TABLE raw_marts.dim_product OWNER TO wh_user;

--
-- Name: dim_store; Type: TABLE; Schema: raw_marts; Owner: wh_user
--

CREATE TABLE raw_marts.dim_store (
    store_sk text,
    store_id character varying,
    store_name character varying,
    city character varying,
    state character varying,
    address text,
    phone character varying,
    manager_name character varying
);


ALTER TABLE raw_marts.dim_store OWNER TO wh_user;

--
-- Name: fct_inventory_daily; Type: TABLE; Schema: raw_marts; Owner: wh_user
--

CREATE TABLE raw_marts.fct_inventory_daily (
    inventory_sk text,
    snapshot_date_sk integer,
    product_sk text,
    store_sk text,
    quantity_in bigint,
    quantity_out bigint,
    quantity_on_hand bigint
);


ALTER TABLE raw_marts.fct_inventory_daily OWNER TO wh_user;

--
-- Name: fct_order_lifecycle; Type: TABLE; Schema: raw_marts; Owner: wh_user
--

CREATE TABLE raw_marts.fct_order_lifecycle (
    lifecycle_sk text,
    order_id character varying,
    order_date_sk integer,
    customer_sk text,
    store_sk text,
    employee_sk text,
    pending_at timestamp with time zone,
    paid_at timestamp with time zone,
    shipped_at timestamp with time zone,
    delivered_at timestamp with time zone,
    cancelled_at timestamp with time zone,
    current_status character varying,
    days_to_ship integer,
    days_to_deliver integer
);


ALTER TABLE raw_marts.fct_order_lifecycle OWNER TO wh_user;

--
-- Name: fct_payments; Type: TABLE; Schema: raw_marts; Owner: wh_user
--

CREATE TABLE raw_marts.fct_payments (
    payment_sk text,
    payment_id character varying,
    order_id character varying,
    date_sk integer,
    customer_sk text,
    store_sk text,
    payment_method_sk text,
    amount_paid numeric(12,2),
    is_refund boolean
);


ALTER TABLE raw_marts.fct_payments OWNER TO wh_user;

--
-- Name: fct_sales; Type: TABLE; Schema: raw_marts; Owner: wh_user
--

CREATE TABLE raw_marts.fct_sales (
    sales_sk text,
    order_item_id character varying,
    order_id character varying,
    date_sk integer,
    customer_sk text,
    product_sk text,
    store_sk text,
    employee_sk text,
    quantity integer,
    unit_price numeric(12,2),
    discount_amount numeric(12,2),
    gross_revenue numeric,
    net_revenue numeric(12,2)
);


ALTER TABLE raw_marts.fct_sales OWNER TO wh_user;

--
-- Name: flagged_payments; Type: TABLE; Schema: raw_marts; Owner: wh_user
--

CREATE TABLE raw_marts.flagged_payments (
    flagged_payment_sk text,
    payment_id character varying,
    order_id character varying,
    amount_paid numeric(12,2),
    flag_reason text,
    flagged_at timestamp with time zone
);


ALTER TABLE raw_marts.flagged_payments OWNER TO wh_user;

--
-- PostgreSQL database dump complete
--

\unrestrict 4efCpxN8IuWkgZW6obzCIlLztdA1CXFwngTLgqBgfzzIkS8DodfLZJQLeUEN1We

